@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Poppins Regular */
/* @font-face {
  font-family: 'poppins-regular';
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
} */

/* Poppins Bold */
/* @font-face {
  font-family: 'poppins-bold';
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
} */

:root {
  --color1: #ffffff;
  --color2: #6DD5FA;
  --color3: #2980B9;
  --color4: #ededed;
  --color5: #444444;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--color5);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Gradient */
.gradient-text1 {
  background: -webkit-linear-gradient(60deg, #ffc784, #ffa1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text2 {
  background: -webkit-linear-gradient(60deg, #eea9ff, #FBD786, #f7797d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-shape {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}


